

      <div class="chat-body clearfix">


 <div class="header">
 <strong class="primary-font"><%= message.user.name %>:</strong><%= message.body %>
<small class="pull-right text-muted">
<span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%H:%M:%S")%></small>
</div>
</div>
